@import 'preloader';

#events_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.event-card {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.title {
  display: inline-block;
}
